<%- include('partials/Nav'); -%>

<div class="container " style=" margin-top: 20px; padding:20px; background: #d9cccc17;">
  <div style="margin:0px 0px 30px;">
    <h4 style="margin-bottom: 30px;font-weight: 500;color: #424242db;"><%=tip.title%></h4>
  <p style="font-size: 21px;word-spacing: 5px;line-height: 1.7em;" id="tip-desc"><%- tip.desc%></p>
  <p style="margin-top: 20px;font-weight: 500;color: #5a5a5a7d;"><%= new Date(tip.created_at).toDateString() %></p>
  </div>
  <div style="border-top: 1px solid grey; padding-top: 10px;">
    <p style="font-size: 18px;font-weight: 500;"><%=tip.author.name%></p>
    <p><%=tip.author.email%></p>
    <a href="/doc/<%= tip.author._id %>" class="waves-effect waves-light btn blue" style="margin-top: 6px;">PROFILE</a>
  </div>
</div>